/**
 * @file funbuscomedy.css
 *
 * Funbus Comedy stylesheet customizations.
 */

/* Global */
#header-top-inside-right {
  width: 63px;
}

#topSocial ul li a {
  padding-right: 0;
  margin-right: 5px
}

#topSocial ul li a.google-plus {
  background: url(images/google-plus.png);
}

#navigation {
  height: 86px;
  margin-top: 27px;
}

#navigation ul.menu li a {
  font-size: 22px;
}

#footer {
  min-height: 0px;
}

ul.pager {
  background: none;
  border: none;
}

#cboxLoadedContent .file-video-youtube {
  margin-left: 5px;
}

/* Home page. */
#home-blocks-area .region .block h2 {
  background: none;
}

.home-block-area .block-views > div.content, #block-twitter-block-default > div.content {
  min-height: 350px;
}

#twitter_block_results .twitter_block_user img {
  margin: 0 10px 10px 0;
}

#home-blocks-area .easy_social_box {
  margin-top: 10px;
}

#home-blocks-area .easy_social-widget-twitter {
  margin: 0 40px 0 40px;
}

/* Videos and Stand Up pages. */
.pane-videos-panel-pane-1 .views-row {
  margin-bottom: 20px;
}

.pane-videos-panel-pane-1 .views-field {
  text-align: center;
  margin: 10px 10px 10px 10px;
}

.pane-videos-panel-pane-1 .views-field iframe.youtube-player {
  align: center;
}

/* Characters page */
#characters .pane-characters-panel-pane-1 table.views-view-grid {
  border: none;
  margin: 0 0 0 0;
}

#characters .pane-characters-panel-pane-1 table.views-view-grid td {
  border: none;
  padding: 0 0 0 0;
}

#characters .pane-characters-panel-pane-1 .views-field-field-user-name {
  text-align: center;
}

/* User page */
.field-name-field-user-bio .field-items {
  width: 580px;
}

.field-name-field-user-bio .field-items .field-item {
  padding-right: 10px;
}

.field-name-field-user-image {
  width: 290px;
  float: right;
}

/* Blog page */
#blogs .views-field-field-blog-image {
  width: 290px;
  float: left;
  margin-right: 10px;
}

#blogs .views-field-title {

}